<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Please verify your email by navigating to the link below. 
      <a href="<%=@url%>" >Verify Email</a>
    </p>
  </body>
</html>